/* Palette  
Font - rgb(202, 186, 192) 
Background - rgb(45, 35, 39) < rasin black (black with a purple hue)
Everything Else - rgb(138, 106, 119) < muave taupe (like a purple)
*/

/* Setting up standard styles and wrapper. */
html{
    scroll-behavior: smooth;
}
body{
    background-color: #2d2327;
    background-image: linear-gradient(180deg, #2d2327 0%, #4c303d 39%, #b32c95 96%);
    font-size: calc(0.75em + 1vmin);  
} 

body h1,h2,p,li,a{
    color: rgb(202, 186, 192);
    font-family: "Varela Round";
    list-style: none;
} 
#wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
  }


  /* Setting up navbar */
nav{
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}


/* Setting up about me section */
#about-section{
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color:antiquewhite;
    border-radius: 25px;
   }
@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
     }
}
#about-section h2{
    padding-top: 5rem;
}
#story-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#wrapper h2{
    margin-top: 5rem;
}
#my-story{
    display: flex;
    max-width: 500px;
    margin: 0px;
}
#picture{
    display: flex;
    max-width: 600px;
    margin-left: 10px;
}

img{
    max-width: 500px;
    max-height: 500px;
    border-radius: 25px;
}

/* Setting up the footer section */
footer{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    align-content: center;
    color: rgb(202, 186, 192);
} 